<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill in the blank to find the correct word</title>
    <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1 class="header">Fill in the blank with the correct word</h1>
    <div class="slide-content">
        <form action="/game2" method="POST">
            <div id="slide_container">
                <!--Slide 1-->
                <div id="slide0" class="slide active">
                    <h1 class="header">About this game</h1>
                    <div class="text-container">
                        <p class="paragraph">
                            This is about answering questions quiz game.<br>
                            You need to answer correctly and find out how much knowledge you have in this subject.<br>
                            After the final slide,you can find out how many marks you obtained from this quiz via the bar-chart.
                        </p>
                        <p class="paragraph_disclaimer"> Disclaimer! <br> Please click the confirm button before continuing with the next button</p>
                        <!--Inside here,I gotta put a text paragraph and a blank to get a text input-->
                        <!--I need to consider about sending it back and forth to server-->
                    </div> <!--This is the end of the text-container-->
                </div> <!--This is the end of the slide1-->

                <!--Slide 1-->
                <div id="slide1" class="slide">
                    <h1 class="header">Python Programming </h1>
                    <div class="text-container">
                        <p class="paragraph">
                            Python is a popular programming language known for its <input type="text" autocomplete="off" id="blank1_slide1" size="3">and <input type="text" autocomplete="off" id="blank2_slide1" size="3"> syntax.<br> 
                            It is widely used in fields like <input type="text"autocomplete="off"id="blank3_slide1" size="3">
                        , <input type="text" autocomplete="off" id="blank4_slide1" size="3">, and data science due to its extensive libraries and supportive community.<br>
                        Python encourages <input type="text" autocomplete="off" id="blank5_slide1" size="3"> thinking and is ideal for both beginners and experienced <input type="text" autocomplete="off"id="blank6_slide1" size="3">.<br>
                        Whether you are automating tasks, building applications, or analyzing data, Python provides tools to make<input type="text"autocomplete="off"id="blank7_slide1"size="3">easier and more efficient.
                        </p>
                        <!--Inside here,I gotta put a text paragraph and a blank to get a text input-->
                        <!--I need to consider about sending it back and forth to server-->
                    </div> <!--This is the end of the text-container-->
                </div> <!--This is the end of the slide1-->

                <!--Slide 2-->
                <div id="slide2" class="slide">
                    <h1 class="header">Java Programming </h1>
                    <div class="text-container">
                        <p class="paragraph">
                            Java is a widely used <input type="text" autocomplete="off" id="blank1_slide2" size="3"> programming language that enables developers to create applications across 
                            various <input type="text" autocomplete="off" id="blank2_slide2" size="3">, including web, mobile, and desktop. Known for its <input type="text" autocomplete="off" id="blank3_slide2" size="3">  and efficiency, Java follows the<input type="text" autocomplete="off" id="blank4_slide2" size="3">  paradigm, 
                            which is centered around creating objects that represent both data and behavior. Java code is compiled into <input type="text" autocomplete="off" id="blank5_slide2" size="3"> bytecode,
                            allowing it to run on the <input type="text" autocomplete="off" id="blank6_slide2" size="3"> Virtual Machine (JVM), which makes it <input type="text" autocomplete="off"  id="blank7_slide2" size="3"> across different platforms without needing modification. 
                            One of Java's key strengths is its built-in <input type="text" autocomplete="off" id="blank8_slide2" size="3"> handling, which enables developers to manage errors smoothly. 
                            Additionally, Java offers a rich library of <input type="text" autocomplete="off" id="blank9_slide2" size="3">, such as the Java Standard Library, which provides tools and pre-written code 
                            for common programming tasks. Java also has a garbage <input type="text" autocomplete="off" id="blank10_slide2" size="3"> system that automatically manages memory, helping prevent issues like memory leaks.
                        </p>
                        <!--Inside here,I gotta put a text paragraph and a blank to get a text input-->
                        <!--I need to consider about sending it back and forth to server-->
                    </div> <!--This is the end of the text-container-->
                </div> <!--This is the end of the slide2-->
                
            </div><!--This is the end of the slide container-->
        </form>
            <!-- Button Group -->
            <div class="button-group">
                <button type="submit" class="confirm-btn" id="confirm2">Confirm</button>
                <button type="button" class="next-btn" id="next">Next</button>
                <button type="button" class="exit-btn" id="exit">Exit</button>
            </div>
    </div><!--This is the end of the slide-content-->

    <script src="/static/scripts.js?v=1.0"></script>
    </body>
</html>